<mat-card>
  <pm-apft-material #apft></pm-apft-material>
  <div class="results">
    <div *ngIf="apft.score | async as score">
      <h2 [ngClass]="{ 'warn': score.failed }" class="center">{{ score.resultText }}</h2>
      <div class="wrapper">
        <div>
          <p>Sit-ups:
            <span [ngClass]="{ 'warn': score.su.failed }">{{ score.su.score }}</span>
          </p>
          <p>Push-ups:
            <span [ngClass]="{ 'warn': score.pu.failed }">{{ score.pu.score }}</span>
          </p>
          <p>2-Mile Run:
            <span [ngClass]="{ 'warn': score.run.failed }">{{ score.run.score }}</span>
          </p>
        </div>
        <h2 class="center-h2">{{ score.total }}</h2>
      </div>
    </div>
  </div>
</mat-card>