:host {
  display: flex;
  justify-content: center;
  .wrapper {
    display: flex;
    justify-content: space-around;
  }
  .center-h2 {
    align-self: center;
  }
  .center {
    text-align: center;
  }
}