<h1>Army Physical Fitness Resources</h1>

<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>FM 7-22</mat-card-title>
    <mat-card-subtitle>ARMY PHYSICAL READINESS TRAINING</mat-card-subtitle>
  </mat-card-header>
  <!-- <img mat-card-image src="http://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
  <mat-card-content>
    <p>
      Soldier physical readiness is acquired through the challenge of a precise, progressive, and integrated physical training
      program. A well-conceived plan of military physical readiness training must be an integral part of every unit training
      program. This field manual prescribes doctrine for the execution of the Army Physical Readiness Training System.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button download href="https://firebasestorage.googleapis.com/v0/b/myapft-35200.appspot.com/o/fm7_22.pdf?alt=media&token=4688357a-1af6-414b-82b9-3903c00509c4">Download</a>
    <button mat-raised-button color="primary">Read Online</button>
  </mat-card-actions>
</mat-card>