@import './node_modules/@angular/material/_theming.scss';
@include mat-core();
// $app-dark-green: #1A4538;
// $app-green: #29584A;
$app-primary: mat-palette($mat-green, 900);
$app-accent : mat-palette($mat-green, A700);
$app-theme : mat-light-theme($app-primary, $app-accent);
@include angular-material-theme($app-theme);
// // Define an alternate dark theme.
// $dark-primary: mat-palette($mat-green);
// $dark-accent:  mat-palette($mat-amber, A200, A100, A400);
// $dark-warn:    mat-palette($mat-deep-orange);
// $dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
// Include the alternative theme styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.unicorn-dark-theme` will be affected by this alternate dark theme instead of the default theme.
.app-theme {
  @include angular-material-theme($app-theme);
}

.warn {
  color: mat-color($mat-red, 500);
}

.app-primary-bg {
  background-color: mat-color($mat-green, 900);
  color: rgba(255, 255, 255, 0.87);
}

html {
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}

html,
body {
  margin: 0;
  display: flex;
  flex: 1 0;
  flex-direction: column;
  height: 100%;
}

.avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: inline-block;
}

.card-float-container {
  margin: 1em;
  @media only screen and (max-width: 959px) {
    display: block;
    margin: 0;
  }
}

// TODO remove in future
.mat-card-header-text {
  width: 100%;
}

// TODO remove in future
.mat-form-field.mat-form-field {
  width: auto;
}

.mat-raised-button .mat-button-wrapper>* {
  vertical-align: inherit !important;
}

.mat-menu-content {
  padding: 0 !important;
}