<mat-card>
  <form [formGroup]="form">
    <mat-radio-group formControlName="gender">
      <mat-radio-button value="male">Male</mat-radio-button>
      <mat-radio-button value="female">Female</mat-radio-button>
    </mat-radio-group>
    <br>
    <div class="cal-flex">
      <div>
        <mat-form-field>
          <input matInput [matDatepicker]="dobpicker" placeholder="Date of Birth" formControlName="dob">
          <mat-datepicker #dobpicker></mat-datepicker>
        </mat-form-field>
        <button mat-icon-button (click)="dobpicker.open()" class="btn-cal">
          <mat-icon fontSet="fa" fontIcon="fa-calendar" aria-label="calendar"></mat-icon>
        </button>
      </div>
      <div>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Date of Test" formControlName="date">
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <button mat-icon-button (click)="picker.open()" class="btn-cal">
          <mat-icon fontSet="fa" fontIcon="fa-calendar" aria-label="calendar"></mat-icon>
        </button>
      </div>
    </div>
    <div class="flex">
      <mat-form-field>
        <input matInput type="number" placeholder="Push Ups" formControlName="pu" min="0" max="200">
        <!-- <mat-error *ngIf="options.get('fontSize').invalid">Min size: 10px</mat-error> -->
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" placeholder="Sit Ups" formControlName="su" min="0" max="200">
        <!-- <mat-error *ngIf="options.get('fontSize').invalid">Min size: 10px</mat-error> -->
      </mat-form-field>
    </div>
    <div class="flex">
      <mat-form-field>
        <input matInput type="number" placeholder="Run (minutes)" formControlName="runMin" min="0" max="30">
        <!-- <mat-error *ngIf="options.get('fontSize').invalid">Min size: 10px</mat-error> -->
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" placeholder="Run (seconds)" formControlName="runSec" min="0" max="60">
        <!-- <mat-error *ngIf="options.get('fontSize').invalid">Min size: 10px</mat-error> -->
      </mat-form-field>
    </div>

    <!-- <mat-form-field>
          <input matInput type="number" placeholder="Font size (px)" formControlName="fontSize" min="10">
          <mat-error *ngIf="options.get('fontSize').invalid">Min size: 10px</mat-error>
        </mat-form-field> -->
    <!-- <button mat-raised-button color="primary" [disabled]="form.invalid">Save</button> -->
  </form>
  <p></p>
  <h4>{{ age$ | async }}</h4>
  <h1>Score: {{ 0 || (score$ | async) }}</h1>
</mat-card>