<header>
  <img src="https://firebasestorage.googleapis.com/v0/b/myapft-35200.appspot.com/o/logo_primary.svg?alt=media&token=57452fd6-922b-47ae-b32d-010931d9d209" />
  <h3 class="display-4">Your Army Physical Fitness Test Companion</h3>
  <a mat-raised-button routerLink="calculator">Get Started</a>
</header>
<!-- <section class="promo-desc">
  <img src="/assets/hero_1.svg" />
  <div>
    <h2>Achieve your goals sooner</h2>
    <p>Hit the ground running with comprehensive, modern UI components that work across the web, mobile and desktop.</p>
  </div>
</section> -->