@import './node_modules/@angular/material/_theming.scss';
:host {
  header {
    height: 500px;
    display: flex;
    background: mat-color($mat-green, 600);
    h1,
    h3 {
      color: rgba(255, 255, 255, 0.87);
    }
    flex-direction: column;
    align-items: center;
    h1 {
      font-size: 56px;
      font-weight: 300;
      line-height: 56px;
      margin-bottom: .1em;
      margin-top: 2em;
    }
    h3 {
      margin-bottom: 3em;
    }
  }
}