@import './node_modules/@angular/material/_theming.scss';
:host {
  display: flex;
  flex: 1 0;
  flex-direction: column;
  height: 100%;
  .sidenav-container {
    overflow-y: auto;
    flex: 1 0;
    flex-direction: column;
    display: flex ;
    height: 100%;
  }
  .sidenav {
    width: 256px;
    height: 100%
  }
  footer {
    text-align: right;
    padding: 12px;
    font-size: 12px;
    background: mat-color($mat-green, 600);
    color: rgba(255, 255, 255, 0.87);
  }
  .filler {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    span {
      display: flex;
      flex: 1
    }
  }
  ::ng-deep mat-sidenav-content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}